.header {
   background-image: url("../img/Defqon1.png");
   background-position: 0 -250px;
   padding: 20px;
   text-align: center;
   color: white;
   font-family: 'Courier New', Courier, monospace;
  }
  
  .topnav {
   overflow: hidden;
   background-color: rgb(238, 92, 39);
   display: flex;
   justify-content: space-around;
  }
  
  .topnav a {
   display: block;
   color: black;
   text-align: center;
   padding: 15px;
   text-decoration: none;
   font-family: 'Courier New', Courier, monospace;
   font-size: 25px;
   margin: 15px;
   font-weight: bold;
  }
  
  .topnac-centered a {
     float: none;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
  }
  
  .topnav-right {
     float: right;
  }
  
  .topnav a:hover {
   background-color: rgb(245, 109, 59);
   color: black;
  }
  
  body {
     align-items: center;
     margin: 0;
     background-color: rgb(245, 109, 59);
   }

   

   .img1 {
       float: left;
       border: 4px rgb(247, 72, 8) solid;
       margin: 20px;
   }

   #div1 {
       font-size: 20px;
       font-family: 'Courier New', Courier, monospace;
       font-weight: bold;
       margin: 40px;
   }

/*Formulier*/

.form{
   justify-content: center;
   text-align: center;

   margin-top: 40px;
   margin-left: 200px;
   margin-right: 200px;
   font-family:'Courier New', Courier, monospace;
   font-weight: bold;
   font-size: 20px;

   background-color:  rgb(250, 137, 96);

}

.form ul{
   display: inline-block;
}

.form ul li{
   text-align: left;
   list-style: none;
   list-style-type: none;
}

.footer{
   display: flex;
   justify-content: space-around;

   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;

   color: rgb(53, 52, 51);
   background-color: rgb(238, 92, 39);

   margin-top: 100px;

   padding: 1vw;

}

